.startscreen-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draft-setup-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how-many-players-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 12px;
}

input {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 3px 0 3px 3px ;
}

.letsa-go {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  width: 75px;
  align-self: center;
  margin: 20px 0 0 0;
  background: linear-gradient(0.25turn, rgb(249, 196, 5),  rgb(246, 230, 87));
  border: solid 3px rgb(249, 159, 14)
}


.letsa-go:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.more-players {
  font-family: 'Noto Sans JP', sans-serif;
  width: 200px;
  align-self: center;
  text-align: center;
  font-size: 12px;
  margin: 20px 0;
  background: linear-gradient(0.25turn, rgb(249, 196, 5),  rgb(246, 230, 87));
  border: solid 3px rgb(249, 159, 14)
}

.more-players:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.name-label {
  font-size: 12px;
  max-width: 200px;
  text-align: center; 
  margin: 0 0 20px 0;
}

.players-input {
  width: 30px;
  font-size: 12px;
  margin-top: 20px;
}

.conditional-wrapper {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.players-wrapper-headers {
  display: flex;
  flex-direction: column;
}

.placement-options-wrapper {
  text-align: center;
  margin: 0 0 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-player-names-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  margin-bottom: 20px;
  color: rgb(244, 85, 85)
}

.placement-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placement-options-text {
  margin-bottom: 20px;
  font-size: 12px;
  max-width: 200px;
  text-align: center;
}

.reverse-placement-button {
  width: 200px;
  height: 40px;
  position: relative;
  background: linear-gradient(0.25turn, rgb(246, 230, 87), rgb(249, 196, 5));
  margin: 20px 0;
}

.reverse-placement-button:after {
  content: "";
  position: absolute;
  right: 0; 
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
} 

.reverse-placement-button:before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid rgb(246, 230, 87);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.reverse-placement-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.placement-buttons {
  width: 200px;
  height: 40px;
  position: relative;
  background: linear-gradient(0.25turn, rgb(249, 196, 5),  rgb(246, 230, 87));
  margin: 10px 0;
}

.placement-buttons:after {
  content: "";
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
} 

.placement-buttons:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(246, 230, 87);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.placement-buttons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.draft-text {
  padding: 10px 0  10px 20px;
  font-size: 12px;
}


.draft-text-here {
  margin-left: 15px;
  padding: 10px 0 30px 20px;
  font-size: 14px;
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-name-placement {
  padding: 0 0 5px 0;
}

.player-placement {
  width: 30px;
  margin: 0 0 0 5px; 
}

.submit {
  align-self: center;
  background-color: rgb(54, 115, 238);
  border: groove 5px blue;
  border-radius: 20px;
  color: whitesmoke;
}

@media (min-width: 600px) {
  label {
    font-size: 16px;
  }

  .letsa-go {
    font-size: 16px;
    width: 100px;
  }

  .name-label {
    font-size: 16px;
    max-width: 300px;
  }

  .placement-options-text {
    font-size: 16px;
    max-width: 300px;
  }

  .more-players {
    font-size: 14px;
    width: 225px;
  }

  .draft-text {
    font-size: 14px;
  }
}
