.wrapper {
  background-color: orange;
  width: 100vw;
  margin-top: -50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  border-top: 5px solid black;
}

.item {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px double blue;
  padding: 5px;
  margin: 5px;
}
.item h1 {
  font-size: 12px;
}
.item img {
  height: 100px;
  width: 100px;
}